name: Update Rsshub Server Status

on:
  schedule:
    - cron: 0 15 */1 * *
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
    - name: Run Python Scripts      
      run: |
        python server_checker.py
    - name: Update Repo And Push
      run: |
        git config --global user.email "kamino@imea.me"
        git config --global user.name "kamino"
        git add .
        git commit -m "update by github actions" || true
        git push origin main 